@import "../../../Variables.scss";

/* --- Signup: Messages --- */

.signup-messages-container {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-message-header {
  padding-bottom: 2vh;
}

.signup-messages-text-success {
  color: $black;
  font-size: 1em;
}
.signup-messages-text-failure {
  color: $white;
  font-size: 1em;
}

.signup-messages-container-success {
  padding: 2vh;
  background-color: rgba(152, 251, 152, 0.8);
  border-radius: 8px;
  padding-left: 2em;
  padding-right: 2em;
}
.signup-messages-container-failure {
  padding: 2vh;
  background-color: rgba(255, 0, 0, 0.9);
  border-radius: 8px;
  padding-left: 2em;
  padding-right: 2em;
}
