@import "../../Variables.scss";

/* -----------Submit - Page Container & Page Globals--------------------------- */
.submit-page-container {
  position: absolute;
  right: 0;
  top: 2em;
  left: 0;
  font-size: calc(0.8em + 0.3vw);
  width: 100%;
  height: 100%;
}

.submit-page-container label {
  color: $text-colour;
}

.submit-page-container input,
textarea {
  min-height: 1.6em;
  padding: 5px;
}
.submit-page-container button {
  background-color: rgba(0, 0, 0, 0);
  color: $text-colour;
  border: 1px solid $circuit-yellow;
  padding: 0 5px;
  margin-left: 5px;
  font-stretch: ultra-expanded;
  font-size: 1.2em;
  // width: 25px;
  cursor: pointer;
  /* height: 1.2em; */
}
.submit-page-container button:hover {
  background-color: $circuit-yellow;
  color: black;
}
.submit-page-container .invalid-input {
  outline: 3px solid rgba(248, 62, 62, 0.9);
  outline-offset: -2px;
}

.submit-page-container .invalid-input-message {
  font-size: 0.8em;
  margin-top: 2px;
}
.submit-page-container .vertical-header-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
.submit-horizontal-line {
  position: absolute;
  top: 100px;
  left: 180px;
  max-width: 300px;
  width: 30vw;
}

// .submit-messages-container {
//   align-items: center;
//   margin-bottom: 8vh;
//   display: flex;
//   flex-direction: column;
// }

// .submit-messages-text {
//   color: black;
//   font-size: 1em;
// }

// .submit-messages-success {
//   align-self: center;
//   margin-bottom: 0.5em;
//   background-color: rgba(152, 251, 152, 0.8);

//   width: max-content;
//   border-radius: 8px;
//   padding: 1em 2em;
//   align-self: flex-end;
// }

// .submit-messages-failure {
//   align-self: center;
//   margin-bottom: 0.5em;
//   background-color: rgba(255, 0, 0, 0.8);
//   width: max-content;
//   border-radius: 8px;
//   padding: 1em 2em;
// }

.submit-form-container {
  position: absolute;
  left: calc(200px + 5vw);
  top: 150px;
}

.submit-form-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90vh;
  row-gap: calc(0.5em + 1vw);
}
.submit-form-form label {
  text-transform: uppercase;
  font-size: calc(0.8em + 0.3vw);
}
.submit-form-form label,
.submit-form-form input {
  display: block;
}
/* -----------Submit - Form Column Details--------------------------- */

.projectName-input input,
.problemStatement-input textarea,
.additionalInformation-input textarea,
.weekNumber-input input,
.contributors-input input,
.githubUrl-input input,
.appDeploymentUrl-input input {
  width: 18vw;
  max-width: 300px;
}

.contributors-input {
  display: grid;
  grid-template-columns: 1fr 30px;
  width: calc(max-content + 150px);
}
.contributors-input label {
  grid-row: 1;
}
.contributors-input input {
  grid-column: 1;
  grid-row: 2;
  width: 15vw;
}

.add {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  justify-content: end;
}
.contributors-input ul {
  grid-column: 1;
  flex-direction: column;
  width: max-content;
  justify-self: flex-start;
}
.contributors-input li {
  padding-top: 0.5em;
  list-style-type: none;
}

.contributors-input button {
  grid-column: 2;
  font-size: 1em;
  font-weight: bold;
  justify-self: unset;
  align-self: flex-end;
}
.contributors-input > ul > li > button {
  margin-right: 1em;
}

.fileInput-button {
  background-color: rgba(0, 0, 0, 0);
  color: $text-colour;
  border: 1px solid $circuit-yellow;
  cursor: pointer;
  width: 8vw;
  text-align: center;
  align-self: center;
}
.fileInput-button:hover {
  background-color: $circuit-yellow;
  color: black;
}
.appImage-input,
.additionalAppImage1-input,
.additionalAppImage2-input,
.additionalAppImage3-input {
  display: inline;
}
.appImage-input-image,
.additionalAppImage1-input-image,
.additionalAppImage2-input-image,
.additionalAppImage3-input-image {
  max-width: 7vw;
  max-height: 7vw;
  object-fit: cover;
  display: block;
}

/* -----------Submit - Form Column Tech Used--------------------------- */

.builtUsing-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 200px;
  width: 30vw;

  height: 100%;
}
.builtUsing-input-title {
  text-align: center;
}
.tech-error-message {
  text-align: center;
}

/* -----------checkboxes--------------------------- */

.builtUsing-input ul {
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;
  margin: 0 1em;
  height: 50%;
  width: 90%;
}
.builtUsing-input li[class*="builtUsing-input"] label {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.builtUsing-input input[type="checkbox"][id^="cb"] {
  display: none;
}

.tech-used {
  padding: 5px;
  display: block;
  position: relative;
  margin: 2px;
  cursor: pointer;
}

.tech-used:before {
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid $circuit-yellow;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.tech-used img {
  height: 5vh;
  width: 5vw;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  filter: invert(1) grayscale(1);
}
.tech-used h6 {
  color: grey;
  text-align: center;
}

:checked + .tech-used {
  border-color: #ddd;
}

:checked + .tech-used:before {
  content: "✓";
  color: $circuit-yellow;
  background-color: rgba (0, 0, 0, 0);
  transform: scale(1);
}

:checked + .tech-used img {
  transform: scale(0.9);
  box-shadow: 0 0 5px $circuit-yellow;
  z-index: -1;
  filter: invert(0) grayscale(0);
  color: $text-colour;
}

:checked + .tech-used h6 {
  color: white;
  text-align: center;
}

.form-input-image {
  height: 10vw;
  width: 10vw;
  object-fit: cover;
}

.submit-messages-text {
  color: black;
  font-size: 1em;
  text-align: center;
}

.submit-messages-success {
  margin-bottom: 0.5em;
  background-color: rgba(152, 251, 152, 0.8);
  width: max-content;
  border-radius: 8px;
  padding: 1em 2em;
  display: block;
  position: absolute;
  left: 100%;
  top: 80%;
  transform: translateX(-37%);
}

.submit-messages-failure {
  margin-bottom: 0.5em;
  background-color: rgba(255, 0, 0, 0.8);
  width: max-content;
  border-radius: 8px;
  padding: 1em 2em;
  margin-right: 2em;
  display: block;
  position: absolute;
  left: 100%;
  top: 80%;
  transform: translateX(-32.5%);
}

.project-submit-button {
  display: block;
  position: absolute;
  top: 90%;
  left: 100%;
}
