.admin-page-container{
    font-family: 'Poppins',sans-serif;
    position: absolute;
    right:0;
    top: 1.5em;
    left: 0;
    bottom: 0;
}

.admin-page-container input, textarea{
    min-height: 1.6em;
    margin-top: 10px;
}
.admin-page-container button{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid #ffde59;
    padding: 0 5px;
    margin-left: 5px;
    font-stretch: ultra-expanded;
    font-size: 1.2em;
    width: 25px;
    cursor: pointer;
    /* height: 1.2em; */
}
.admin-page-container button:hover{
    background-color: #ffde59;
    color: black;
}
/* -----------Admin - Header--------------------------- */

.admin-page-header{
    font-family: 'Poppins', sans-serif;
    width: 10vw;
}

.admin-header-line{
    position: fixed;
    bottom:0;
    top: 1.9em;
    left:7em;
}

.admin-header-text{
    transform: rotate(-90deg);
    transform-origin: top left;
    position: fixed;
    bottom:-1em;
    left:0.25em;
    font-size: calc(3em + 1vw);
}

.admin-horizontal-line{
    position: fixed;
    top: 15vh;
    left:6.5em;
}
/* -----------Admin - Project List--------------------------- */

.admin-page-projects{
    position: relative;
    left: 10vw;
    top: 20vh;
}

.admin-page-projects-list{
    list-style-type: none;
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr 0.5fr;

}


/* -----------Admin - Project List--------------------------- */



/* -----------Admin - Project List--------------------------- */