@import "../Variables.scss";

.circuit-container {
  display: flex;

  .circuit-line {
    height: 8px;
    width: 25vw;
    background-color: $circuit-yellow;
    align-self: flex-end;
  }
  .circuit-end {
    background: $circuit-yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    justify-self: end;
    transform: translateY(5px) translateX(-5px);
  }
}
