.signup-page-container {
  display: grid;
  max-height: 90vw;
}

.signup-header {
  font-family: "Poppins", sans-serif;
  width: 10vw;
  grid-row: span;
}

.signup-header-line {
  position: fixed;
  bottom: 0;
  left: 10vw;
  width: 1%;
  max-height: 94vh;
}

.signup-header-text {
  transform: rotate(-90deg);
  transform-origin: top left;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 10vh;
}

/* --- signup: form container --- */

.signup-form-container {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr 1.4fr 0.6fr;
  grid-template-rows: 0.1fr 0.4fr 0.2fr 0.4fr 0.1fr;
}
/* --- signup: images --- */

.signup-sidebar-image {
  width: 33%;
  top: 10vw;
  left: 10vw;
  height: auto;
  position: fixed;
}
.signup-page-image {
  width: 100%;
  grid-column: 3;
  grid-row: 1 / span 3;
}
/* --- signup - form input --- */
.signup-form-input {
  display: grid;
  grid-column: 2 / span 3;
  grid-row: 4 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: last baseline;
  align-items: center;
}

/* --- signup: Already registered link --- */

.signup-registered-link {
  font-size: 2vh;
  grid-column: 3;
  grid-row: 5;
  padding-top: 2vh;
}

/* --- signup: submit --- */

.signup-submit {
  padding-top: 1vh;
}

.signup-submit-button {
  background-color: #ffde59;
  width: 120%;
  height: 3.8vh;
  border-radius: 8px;
  vertical-align: middle;
}

/* --- signup: messages --- */

.signup-messages-container {
  grid-column: 3;
  grid-row: 3;
}

.signup-messages-container-success {
  background-color: rgba(152, 251, 152, 0.8);
  /* width: max-content; */
}
.signup-messages-container-failure {
  background-color: rgba(251, 152, 152, 0.8);
  /* width: max-content; */
}

.signup-messages-text {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}
