.navbar-container{

}
.navbar{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    color: white;
    background-color: black;
}
.navbar > li > a{
    text-decoration: none;
    color: white;
}
.navbar > li > span{
    color: palegoldenrod;
}

