* {
  font-family: "Poppins", sans-serif;
}
.profiles-showcase-container {
  display: grid;
  height: 90vw;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.2fr 1fr;
}

.profiles-showcase-header {
  width: 10vw;
  grid-row: span;
}

.profiles-showcase-header-line {
  position: fixed;
  bottom: 0;
  left: 10vw;
  width: 1%;
  max-height: 95vh;
}

.profiles-showcase-header-text {
  transform: rotate(-90deg);
  transform-origin: top left;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 10vh;
}

.profiles-showcase-display {
  grid-column: 2;
}

.profiles-showcase-sidebar-image {
  width: 28%;
  top: 10vw;
  left: 10vw;
  height: 2em;
  position: fixed;
}

.profiles-showcase-sidebar-line {
  width: 35%;
  top: 10vw;
  left: 23vh;
  height: auto;
  position: fixed;
}

.profiles-showcase-display-items {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
}

.profiles-showcase-image {
  width: 15vw;
}

.profiles-showcase-name-text {
  color: yellow;
  padding-left: 2em;
}

.profiles-showcase-cohort-text {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  line-height: 2em;
}

.profiles-showcase-statement-text {
  color: blue;
}

.profiles-showcase-overlay-container {
  color: white;
}

.profiles-showcase-overlay {
  /* position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  height: auto; */
  width: 15vw;
  opacity: 1;
}

.profiles-showcase-overlay-text {
  background-color: palegoldenrod;
  color: hotpink;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  width: 15vw;
}

/* Project image-text overlay styling end*/
.profiles-showcase-overlay-container:hover .profiles-showcase-overlay-text {
  opacity: 0.2;
  transition: 0.3s ease;
  background-image: ;
}
