/*Header section start*/
.project-showcase-container{
    display: grid;
    height: 90vw;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.2fr 1fr;
}

.project-showcase-header{
    font-family: "Poppins", sans-serif;
    width: 10vw;
    grid-row: span;
}

.project-showcase-header-text{
    transform: rotate(-90deg);
    transform-origin: top left;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 12vh;
}

.project-showcase-header-line{
    position: fixed;
    max-height: 95vh;
    bottom: 0;
    left: 10vw;
    width: 1%;

}
/*Header section end */

/*Display sidebar section start*/

.project-showcase-display{
    grid-column: 2;
}

.project-showcase-display-line{
    width: 28%;
    top: 10vw;
    left: 10vw;
    height: auto;
    position: fixed;
}

/*Display sidebar section end*/

/*Display showcase objects start*/

.project-showcase-display-objects{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*Display showcase objects end*/

/*Project component styling start*/

.project-showcase-image{
    height: 200px;
    width: 350px;
    
}

.project-showcase-title-text{
    color: yellow;

}

.project-showcase-date{
    display: none;
}
/*Project component styling end*/

/* Trying to sort the image overlay*/
