/*Styling the header*/
.showcase-header{
    position: fixed;
    font-family: 'Poppins', sans-serif;
}

.showcase-header-text{
    font-size: 12.5vh;
    position: fixed;
    left: 10vh;
    bottom: -15vh;
    transform: rotate(-90deg);
    transform-origin: top left;
}


/* Grid it up */
.wrapper{
    display: flex;
    justify-content: center;
}

.main-image{
    max-height: 200px;
    max-width: 400px;
}


/* Hiding the name and date call */
.project-name{
    display: none;
}

.project-date{
    display: none;
}


