/* -----------Submit - Page Container--------------------------- */

.submit-page-container{
  display: grid;
}


/* -----------Submit - Header--------------------------- */

.submit-header{
  font-family: 'Poppins', sans-serif;
  width: 10vw;
  grid-row: span;
}

.submit-header-line{
  position: fixed;
  bottom:0;
  left:10vw;
}

.submit-header-text{
  transform: rotate(-90deg);
  transform-origin: top left;
  position: fixed;
  bottom:-10vh;
  left:0;
  font-size: 10vh;
}

/* -----------Submit - Form Messages--------------------------- */

.submit-messages-line{
  grid-column: 2;
  grid-row: 2;
}

.submit-messages-container{
  display: grid;
  height: 10vw;
  grid-column: 2;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
}

.submit-messages-text{
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}

.submit-messages-container-sucess{
  background-color: rgba(152,251,152,0.8);
  width: max-content;
}
.submit-messages-container-failure{
  background-color: rgba(251, 152, 152, 0.8);
  width: max-content;
}

/* -----------Submit - Form Container--------------------------- */
.submit-form-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 100vh;
  grid-column: 2;
  margin-left: 10px;
}


/* -----------checkboxes--------------------------- */

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

.tech-used {
  /* border: 1px solid #fff; */
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.tech-used:before {
  /* background-color: white; */
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid yellow;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.tech-used img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .tech-used {
  border-color: #ddd;
}

:checked + .tech-used:before {
  content: "✓";
  color: yellow;
  background-color: rgba (0, 0, 0, 0);
  transform: scale(1);
}

:checked + .tech-used img {
  transform: scale(0.9);
  box-shadow: 0 0 5px gold;
  z-index: -1;
}

.form-input-image {
  height: 10vw;
  width: 10vw;
  object-fit: cover;
}
