@import "../../../Variables.scss";

.navbar-container {
  display: grid;
  grid-template-areas: "logo links user";
  font-size: 1.5em;
  height: 2em;
  max-height: 50px;
  background-color: $black;
  width: 100%;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
}

.navbar-container a {
  text-decoration: none;
  color: $white;
}

.navbar-logo {
  grid-area: logo;
  width: max-content;
  padding-left: 1em;
}

.navbar-logo a:hover {
  color: $circuit-yellow;
}

.navbar-links {
  grid-area: links;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item:hover span {
  color: $circuit-yellow;
  font-weight: bold;
}
.nav-bar-no-pointer {
  pointer-events: none;
}

.link-brackets-hidden {
  color: $black;
  font-weight: bold;
}
.link-brackets-visible {
  color: $circuit-yellow;
  font-weight: bold;
}

.navbar-dashboard{
  grid-area: user;
  margin-top: 0.4em;
  overflow: hidden;
  justify-self: right;
  padding-right: 4.5em;
}
.navbar-user-icon-dashboard{
  height: 1.5em;
  filter: invert(1);
  overflow: hidden;
}
.navbar-user-icon-dashboard:hover {
  filter: invert(89%) sepia(84%) saturate(7479%) hue-rotate(315deg)
    brightness(109%) contrast(104%);
}
.navbar-user {
  grid-area: user;
  justify-self: right;
  margin-right: 1em;
  margin-top: 0.4em;
  overflow: hidden;
}


.navbar-user-icon-login {
  height: 1.5em;
  filter: invert(1);
}
.navbar-user-icon-login:hover {
  filter: invert(89%) sepia(84%) saturate(7479%) hue-rotate(315deg)
    brightness(109%) contrast(104%);
}

.navbar-user-icon-logout {
  height: 3em;
  filter: invert(1);
  cursor: pointer;
}

.navbar-user-icon-logout:hover {
  filter: invert(89%) sepia(84%) saturate(7479%) hue-rotate(315deg)
    brightness(109%) contrast(104%);
}

.navbar-dashboard-tooltip{
  visibility: hidden;
  // width: max-content;
  // background-color: rgba(0,0,0,0.4);
  // color:white;
  // text-align: center;
  // border-radius: 4px;
  // padding: 5px 0;
  // position: absolute;
  // z-index: 10;
}
.navbar-dashboard:hover .navbar-dashboard-tooltip{
  // visibility: visible;
}

.navbar-dashboard-login{
  visibility: hidden;
}

/* v
@media screen and (max-width: 960px){
    .navbar-container{
        display: flex;
        align-items: center;
        height: 80px;
        z-index: 0;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 0px;
        font-size: 30px;
    }

    .navbar-title{
       display: none;
}
} */
