@import "../../Variables.scss";

.circuit-container {
  position: relative;
  top: 175px;
  max-width: 30vw;
  left: 175px;
  // @include circuit-container-left;
}

.showcase-page-container {
  position: relative;
  // left: calc(50% - 300px);
  left: calc(10vw + 5vw);
  top: 200px;
  height: calc(100vh - 300px);
  width: 75vw;
  overflow: auto;
  -ms-overflow-style: none; /* IE*/
  scrollbar-width: none; /* Firefox */
}
.showcase-page-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.showcase-items-container {
  width: calc(100% - 250px);
  display: grid;
  grid-template-columns: repeat(2, 35vw);
  gap: 5vw;
}
.showcase-items-container a {
  text-decoration: none;
}

.showcase-item {
  display: grid;
  grid-template-columns: 2em 35vw;
}

.showcase-title-text {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: calc(1em + 0.5vw);
  grid-column: 2/3;
  grid-row: 1;
  width: max-content;
}

.showcase-image {
  height: 30vw;
  width: 35vw;
  object-fit: cover;
  grid-column: 2;
  grid-row: 2;
}

.showcase-date {
  grid-column: 1;
  grid-row: 1/3;
  font-size: calc(1em + 0.5vw);
  padding-top: 0.3em;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
/*Project component styling end*/

/* Project image-text overlay styling start*/

.showcase-overlay-container {
  position: relative;
}
// .showcase-overlay-container:hover{
//   box-shadow: 0px 0px 10px $circuit-yellow;
// }

.showcase-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30vw;
  width: 35vw;
  opacity: 0.92;
  transition: 0.5 ease;
  background-color: $circuit-yellow;
}

.showcase-overlay-text {
  color: $black;
  text-align: center;
  font-weight: bolder;
  width: 35vw;
  height: 30vw;
}
.showcase-overlay-text-statement {
  padding-top: 5vh;
  text-align: justify center;
  margin: 0 2vw;
}
.showcase-overlay-text-icons-title {
  position: absolute;
  left: 37%;
  bottom: 7vw;
}
.showcase-overlay-text-icons-icons {
  position: absolute;
  bottom: 0;
  list-style-type: none;
  width: 30vw;
}
.showcase-overlay-text-icons-icons li {
  display: inline;
}

.showcase-tech-icon {
  width: 5vw;
  max-height: 5vw;
}

.showcase-overlay-text p {
  color: black;
  font-size: calc(1em + 0.5vw);
}
/* Project image-text overlay styling end*/
