@import "../../Variables.scss";

.circuit-line-left {
  @include circuit-container-left;
}

.showcase-page {
  background-image: url("../../Components/VisualAssets/BackgroundsPlus/ShowcaseBG.png");
  background-size: 106%;
  width: 100%;
  height: 100%;
}

.showcase-page-container {
  position: relative;
  // left: calc(50% - 300px);
  left: calc(180px + 5vw);
  top: calc(180px + 5vw);
  height: calc(100vh - 300px);
  width: 75vw;
  overflow: auto;
}
.showcase-page-container:-webkit-scrollbar {
  width: 10px;
}

/* Track */
.showcase-page-container:-webkit-scrollbar-track {
  background: #ff0000;
}

/* Handle */
.showcase-page-container:-webkit-scrollbar-thumb {
  background: rgb(229, 255, 0);
}

/* Handle on hover */
.showcase-page-container:-webkit-scrollbar-thumb:hover {
  background: rgb(0, 119, 255);
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 2px solid #ffde5981;
  background: $primary-background-color;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: $circuit-yellow;
  border: 5px solid $transparent;
  height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

// .showcase-gradient{
//     position:absolute;
//     pointer-events: none;
//     bottom:0;
//     left: calc(10vw + 5vw);
//     width: 75vw;
//     height:300px;
//     background: rgb(0,8,24);
//     background: radial-gradient(circle at bottom, rgba(0,8,24,0.9) 0%, rgba(0,8,24,0) 100%);
//   }

// .showcase-fog{
//   position: absolute;
//   bottom: 0;
//   left: calc(10vw + 5vw);
//   pointer-events: none;
// }
.showcase-items-container {
  width: calc(100% - 250px);
  display: grid;
  grid-template-columns: repeat(2, 35vw);
  gap: 5vw;
}

// .showcase-items-container::after{
//   content: "";
//   position: fixed;
//   left: calc(180px + 5vw);
//   bottom: 0;
//   height: 10%;
//   width: 75vw;
//   background: linear-gradient(transparent, rgba(255, 0, 0, 0.9));
// }
.showcase-items-container a {
  text-decoration: none;
}

.showcase-item {
  display: grid;
  grid-template-columns: 2em 30vw;
}

.showcase-title-text {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: calc(1em + 0.5vw);
  grid-column: 2/3;
  grid-row: 1;
  width: max-content;
  padding-bottom: 0.3em;
}

.showcase-image {
  height: 20vw;
  width: 30vw;
  object-fit: cover;
  grid-column: 2;
  grid-row: 2;
}

.showcase-date {
  grid-column: 1;
  grid-row: 1/3;
  font-size: calc(1em + 0.5vw);
  padding-top: 0.3em;
  margin-left: -0.2em;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
/*Project component styling end*/

/* Project image-text overlay styling start*/

.showcase-overlay-container {
  position: relative;
}

.showcase-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vw;
  width: 30vw;
  opacity: 0.92;
  transition: 0.5 ease;
  background-color: $circuit-yellow;
}

.showcase-overlay-text {
  color: black;
  text-align: center;
  font-weight: bolder;
  height: 20vw;
  width: 30vw;
  font-size: calc(0.2em + 0.5vw);
}
.showcase-overlay-text-statement {
  padding-top: 2vw;
  text-align: justify center;
  margin: 0 2vw;
}
.showcase-overlay-text-icons-title {
  position: absolute;
  left: 37%;
  bottom: 5vw;
}
.showcase-overlay-text-icons-icons {
  position: absolute;
  bottom: 0;
  list-style-type: none;
  width: 30vw;
}
.showcase-overlay-text-icons-icons li {
  display: inline;
}

.showcase-tech-icon {
  width: 4vw;
  max-height: 4vw;
}

.showcase-overlay-text p {
  color: black;
  font-size: calc(1em + 0.5vw);
}
/* Project image-text overlay styling end*/
