@import "../../Variables.scss";

.circuit-line-left {
  @include circuit-container-left;
}

.showcase-page {
  background-image: url("../../Components/VisualAssets/BackgroundsPlus/ShowcaseBG.png");
  background-size: 106%;
  width: 100%;
  height: 100%;
}

.showcase-page-container {
  position: relative;
  left: calc(180px + 5vw);
  top: calc(180px + 5vw);
  height: calc(100vh - 250px);
  width: 75vw;

  overflow-y: scroll;
  overflow-x: hidden;
}

.showcase-items-container {
  width: calc(100% - 250px);
  display: grid;
  grid-template-columns: repeat(2, 35vw);
  gap: 5vw;
}

// .showcase-items-container::after{
//   content: "";
//   position: fixed;
//   left: calc(180px + 5vw);
//   bottom: 0;
//   height: 10%;
//   width: 75vw;
//   background: linear-gradient(transparent, rgba(255, 0, 0, 0.9));
// }
.showcase-items-container a {
  text-decoration: none;
}

.showcase-item {
  display: grid;
  grid-template-columns: 2em 30vw;
}

.showcase-title-text {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: calc(1em + 0.5vw);
  grid-column: 2/3;
  grid-row: 1;
  width: max-content;
  padding-bottom: 0.3em;
}

.showcase-image {
  height: 20vw;
  width: 30vw;
  object-fit: cover;
  grid-column: 2;
  grid-row: 2;
}

.showcase-date {
  grid-column: 1;
  grid-row: 1/3;
  font-size: calc(1em + 0.5vw);
  padding-top: 0.3em;
  margin-left: -0.2em;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
/*Project component styling end*/

/* Project image-text overlay styling start*/

.showcase-overlay-container {
  position: relative;
}

.showcase-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vw;
  width: 30vw;
  opacity: 0.92;
  transition: 0.5 ease;
  background-color: $circuit-yellow;
}

.showcase-overlay-text {
  color: black;
  text-align: center;
  font-weight: bolder;
  height: 20vw;
  width: 30vw;
  font-size: calc(0.2em + 0.5vw);
}
.showcase-overlay-text-statement {
  padding-top: 2vw;
  text-align: justify center;
  margin: 0 2vw;
}
.showcase-overlay-text-icons-title {
  position: absolute;
  left: 37%;
  bottom: 5vw;
}
.showcase-overlay-text-icons-icons {
  position: absolute;
  bottom: 0;
  list-style-type: none;
  width: 30vw;
}
.showcase-overlay-text-icons-icons li {
  display: inline;
}

.showcase-tech-icon {
  width: 4vw;
  max-height: 4vw;
}

.showcase-overlay-text p {
  color: black;
  font-size: calc(1em + 0.5vw);
}
/* Project image-text overlay styling end*/
