@import "../../../Variables.scss";

.admin-page-container {
  position: absolute;
  right: 0;
  top: 1.5em;
  left: 0;
  bottom: 0;
}
/* Page global styles here */
.admin-page-container input[type="checkbox"] {
  display: none;
}

.admin-page-container *::before,
.admin-page-container *::after {
  transition: 500ms all ease-in-out 50ms;
  backface-visibility: hidden;
}

.admin-horizontal-line {
  position: absolute;
  top: 180px;
  left: 180px;
  width: 30vw;
}
/* -----------Admin - Project List--------------------------- */

.admin-page-projects {
  display: grid;
  row-gap: 2em;
  position: relative;
  left: 185px;
  top: 20vh;
  width: 90vw;
}

.admin-page-projects-list-item {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr 0.7fr 0.4fr 0.4fr 0.4fr;
}
.admin-page-projects-list-item:first-child {
  text-align: center;
  font-size: 1.5em;
}
.admin-page-projects-list-1 {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  text-align: center;
}

/* ------ preview image -------------*/

.admin-page-projects-preview img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}
.admin-page-projects-preview img:hover {
  opacity: 0.8;
}
:checked + .admin-page-projects-preview img {
  border: 1px solid $circuit-yellow;
  width: 250px;
  height: 250px;
}

.admin-page-projects-list-2 {
  grid-column: 2;
  justify-self: center;
  align-self: center;
  img{
    filter: invert(1);
  }
}
.admin-page-projects-list-3 {
  grid-column: 3;
  justify-self: center;
  text-align: center;
  align-self: center;
}
.admin-page-projects-list-4 {
  grid-column: 4;
  justify-self: center;
  align-self: center;
}
.admin-page-projects-list-5 {
  grid-column: 5;
  justify-self: center;
  align-self: center;
}

.admin-page-projects-list-6 {
  grid-column: 6;
  justify-self: center;
  align-self: center;
}

/* -----------Admin - Checkbox Styling/Animations------------------- */

.admin-checked-icon {
  filter: invert(84%) sepia(55%) saturate(525%) hue-rotate(341deg)
    brightness(102%) contrast(101%);
}
.admin-unchecked-icon {
  filter: invert(52%) sepia(25%) saturate(6492%) hue-rotate(28deg)
    brightness(99%) contrast(92%);
}

.admin-remove-unchecked-icon {
  filter: invert(12%) sepia(23%) saturate(6968%) hue-rotate(345deg)
    brightness(92%) contrast(106%);
}

.admin-remove-checked-icon {
  filter: invert(37%) sepia(56%) saturate(6133%) hue-rotate(345deg)
    brightness(95%) contrast(106%);
}

/* Button Styling */

.admin-page-button {
  @include button-basic;
}
.admin-page-button:hover {
  @include button-hover;
}
