@import "../../Variables.scss";

.dashboard-loading-spinner {
  position: fixed;
  top: 50%;
  left: calc(50% + 180px);
  transform: translate(calc(-50% - 90px), -50%);
  width: 25vw;
  max-width: 20%;
  z-index: 10;
}
.dashboard-loading-spinner-text {
  color: $text-colour;
  text-align: center;
  font-size: calc(2em + 0.2vw);
  position: fixed;
  top: calc(53% + 5vw);
  left: calc(50% + 180px);
  transform: translate(calc(-50% - 90px), -50%);
  z-index: 11;
}
