@import "../../../Variables.scss";

/* --- Login: Messages --- */

.login-messages-container {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-message-header {
  padding-bottom: 2vh;
  text-decoration: underline;
}
.login-messages-container-failure {
  padding: 2vh;
  background-color: rgba(251, 152, 152, 0.8);
  border-color: $white;
  border-radius: 8px;
}
.login-messages-text {
  color: $white;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}
