@import "../../../Variables.scss";

.individual-profile-container{
    position: absolute;
    left: 180px;
    top: calc(180px - 3em);
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    width: calc(100% - 200px);
    height: 39%;
}

.individual-profile-name{
    grid-row: 1;
    grid-column: 1;
    justify-self: flex-end;
    font-size: 2em;
    padding-top: 0.5em;
    padding-right: 20%;
}

.individual-profile-statement{
    grid-row: 2/3;
    // height: 20vh;
    padding-left: 1em;
    grid-column: 1;
    font-size: 1.5em;
    font-weight: 300;
    justify-self: center;
}

.individual-profile-socials{
    height: 12vw;
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
}


.social-icons{
    width: 50px;
    filter: invert(1) grayscale(1) brightness(2);
}
.social-icons:hover{
    opacity: 0.7;
}

.individual-profile-photo{
    grid-column: 3;
    grid-row: 1/4;
    padding-top: 5em;
    width: 70%;
    justify-self: center;
}

.individual-profile-projects-title{
    grid-row: 3;
    grid-column: 1;
    font-size: 2em;
    align-self: flex-end;
    justify-self: flex-end;
    padding-right: 22%;
}

.individual-profile-line-1{
    position: absolute;
    top: 180px;
    width: 95%;
}
.individual-profile-line-2{
    position: absolute;
    top: calc(180px - 3.2em + 38%);
    width: 95%;
}

.individual-profile-projects-container{
    position: absolute;
    top: 50%;
    left: 200px;
    height: 50%;
    display: grid;
    grid-template-columns: repeat( 2, 35vw );
    gap: 5vw;
    overflow: auto;
    -ms-overflow-style: none; /* IE*/
    scrollbar-width: none; /* Firefox */
}
.individual-profile-projects-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.individual-profile-projects{
    width: calc(100% - 250px);
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat( 2, 35vw );
    gap: 5vw;
}

.individual-profile-projects a{

    text-decoration: none;
    
}