@import "../../../Variables.scss";

.individual-profile-container{
    position: absolute;
    left: 180px;
    top: 50px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    width: calc(100% - 200px);
    height: 50%;
}

.individual-profile-name{
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    font-size: 2em;
    padding-top: 0.5em;
}

.individual-profile-statement{
    grid-row: 3;
    grid-column: 1;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    font-size: 1.2em;
    font-weight: 300;
}

.individual-profile-socials{
    grid-row: 4;
    grid-column: 1;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.social-icons{
    filter: invert(1) grayscale(1) brightness(2);
}
.social-icons:hover{
    opacity: 0.7;
}

.individual-profile-photo{
    grid-column: 3;
    grid-row: 2/5;
    max-width: 30vw;
    max-height: 30vw;
}

.individual-profile-projects-title{
    grid-row: 7;
    grid-column: 1;
    font-size: 2em;
    align-self: flex-end;
    padding-bottom: 0.5em;
    justify-self: center;
}

.individual-profile-line-1{
    position: absolute;
    top: 10%;
}
.individual-profile-line-2{
    position: absolute;
    top: 45%;
}


.individual-profile-projects-container{
    position: absolute;
    top: 50%;
    left: 200px;
    height: 50%;
    display: grid;
    grid-template-columns: repeat( 2, 35vw );
    gap: 5vw;
    overflow: auto;
    -ms-overflow-style: none; /* IE*/
    scrollbar-width: none; /* Firefox */
}
.individual-profile-projects-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.individual-profile-projects{
    width: calc(100% - 250px);
    display: grid;
    grid-template-columns: repeat( 2, 35vw );
    gap: 5vw;
}

.individual-profile-projects a{

    text-decoration: none;
    
}