* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #000818;
  color: white;
  background-image: url("/src/Components/Backgrounds/Admin.png");
  background-repeat: no-repeat;
  background-size: cover;
}
