@import "../../../Variables.scss";

.vertical-header-line {
  width: 175px;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  border-right: 10px solid $circuit-yellow;
}

.vertical-header-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: fixed;
  margin-bottom: 0.5em;
  bottom: 0;
  left: 0;
  font-size: 7em;
}
